body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #3498db;
    padding: 20px 0;
}

.timerTitle {
    color: #f0f0f0;
    font-size: 24px;
}

main {
    text-align: center;
    padding: 20px;
}

.timerContainer {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.timerState {
    font-size: 24px;
    margin-bottom: 10px;
}

.timeDisplay {
    font-size: 36px;
    margin-bottom: 20px;
}

.timerButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.timerButton:hover {
    background-color: #2980b9;
}

.timeSettings {
    display: flex;
    justify-content: center;
}

.workTime,
.pauseTime {
    margin-right: 20px;
}

.timeInput {
    font-size: 16px;
    padding: 5px;
    width: 40px;
    text-align: center;
}
